@tailwind preflight;
@tailwind components;
@tailwind utilities;

body {
  font-size: 12px;
  line-height: 1.5rem;
}

@media all and (min-width: 479px) {
  body {
    font-size: 14px;
  }
}
@media all and (min-width: 769px) {
  body {
    font-size: 16px;
  }
}
@media all and (min-width: 1199px) {
  body {
    font-size: 18px;
  }
}
@media all and (min-width: 1691px) {
  body {
    font-size: 20px;
  }
}

:root {
  --color-dark: #22292F;
  --color-light: #fff5eb;
  --color-theme-bg: var(--color-light);
  --color-theme-text: var(--color-dark);
}

.transition-2 {
  transition: 2s;
}

.transition-1 {
  transition: 1s;
}
.text-2xs {
  font-size: 0.625rem;
}

.bg-theme {
  background-color: var(--color-theme-bg);
}

html {
  @apply bg-brand
}

.text-theme {
  color: var(--color-theme-text);
}

.text-theme-hover:hover {
  color: var(--color-theme-text);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-theme-bg: var(--color-dark);
    --color-theme-text: var(--color-light);
  }
}